@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
html,
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Light-gray);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/*------------------main---------------------*/
main {
  position: relative;
  width: 80%;
  max-width: 360px;
  border-radius: 1.25rem;
  padding: 0.9375em;
  margin: 1.25em;
  background-color: var(--White);
}
main * {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  text-align: center;
}

main .main-qr-img img {
  width: 100%;
  border-radius: 10px;
}
main .main-text {
  width: 80%;
}
p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--Grayish-blue);
}
h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--Dark-blue);
}
/*-----------------footer------------------*/
.attribution {
  font-size: 0.6875;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
